@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Peddana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+KR&family=Peddana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Noto+Sans+KR&family=Peddana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dancing+Script&family=Lobster&family=Noto+Sans+KR&family=Peddana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bebas+Neue&family=Dancing+Script&family=Lobster&family=Noto+Sans+KR&family=Peddana&display=swap");
.boxModel {
  width: 100%;
  height: 100%;
  padding: 2rem;
  border: 0.3rem solid white;
  margin: 5rem;
}

html {
  font-size: 10px;
}

.inner {
  text-align: center;
}

.content {
  max-width: 800px;
  margin: 1em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  color: skyblue;
  font-size: 3rem;
  margin-bottom: 3rem;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.quote-card {
  width: 300px;
  border-top-left-radius: 20px;
  border-top: 10px solid #DCE775;
  padding: 1.5em;
  padding-left: 3em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  position: relative;
  overflow: hidden;
  min-height: 120px;
  background: skyblue;
  color: #222222;
}

.quote-card p {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.5;
  margin: 0;
}

.quote-card:before {
  font-family: Georgia, serif;
  content: "“";
  position: absolute;
  font-size: 5em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
  top: -20px;
  left: 10px;
}

.quote-card:after {
  font-family: Georgia, serif;
  content: "”";
  position: absolute;
  font-size: 15em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
  bottom: -90px;
  right: 40px;
  line-height: 100px;
}

.quote-card2 {
  width: 300px;
  border-top-left-radius: 20px;
  border-top: 10px solid rgba(255, 255, 0, 0.3);
  padding: 1.5em;
  padding-left: 3em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  position: relative;
  overflow: hidden;
  min-height: 120px;
  background: #ff9900;
  color: #222222;
}

.quote-card2 p {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.5;
  margin: 0;
}

.quote-card2:before {
  font-family: Georgia, serif;
  content: "“";
  position: absolute;
  font-size: 5em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
  top: -20px;
  left: 10px;
}

.quote-card2:after {
  font-family: Georgia, serif;
  content: "”";
  position: absolute;
  font-size: 15em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
  bottom: -90px;
  right: 40px;
  line-height: 100px;
}

.quote-card3 {
  width: 300px;
  border-top-left-radius: 20px;
  border-top: 10px solid #28a745;
  padding: 1.5em;
  padding-left: 3em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  position: relative;
  overflow: hidden;
  min-height: 120px;
  background: #DCE775;
  color: #222222;
}

.quote-card3 p {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.5;
  margin: 0;
}

.quote-card3:before {
  font-family: Georgia, serif;
  content: "“";
  position: absolute;
  font-size: 5em;
  color: rgba(34, 34, 34, 0.3);
  font-weight: normal;
  top: -20px;
  left: 10px;
}

.quote-card3:after {
  font-family: Georgia, serif;
  content: "”";
  position: absolute;
  font-size: 15em;
  color: rgba(34, 34, 34, 0.3);
  font-weight: normal;
  bottom: -90px;
  right: 40px;
  line-height: 100px;
}

.typography h1 {
  font-size: 3rem;
  font-family: "Noto Sans KR", sans-serif;
}

.typography h2 {
  font-size: 2.75rem;
  font-family: "Peddana", serif;
}

.typography h3 {
  font-size: 2.5rem;
  font-family: "Lobster", cursive;
}

.typography h4 {
  font-size: 2.25rem;
  font-family: "Noto Sans KR", sans-serif;
}

.typography h5 {
  font-size: 2rem;
  font-family: "Noto Sans KR", sans-serif;
}

.typography h6 {
  font-size: 1.5rem;
  font-family: "Noto Sans KR", sans-serif;
}
/*# sourceMappingURL=qc2020.css.map */