@mixin content($max-width) {
  max-width: $max-width;
  margin: $default-margin;

  display: $default-display;
  align-items: $default-align-items;
  justify-content: $default-justify-content;
}

@mixin quotecard($width, $radius, $border-top) {
  width: $width;
  border-top-left-radius: $radius;
  border-top: $border-top;

  padding: $default-padding + 0.5em;
  padding-left: $default-padding + 2em;
  box-sizing: $default-box-sizing;
  box-shadow: $default-box-shadow;

  position: $default-position;
  overflow: $default-overflow;
  min-height: $default-min-height;
}

@mixin quotecard-text($font-size, $font-weight) {
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin quote($content, $font-size, $color: $bg-rice) {
  font-family: $quote-font-family;
  content: $content;
  position: $quote-position;
  font-size: $font-size;
  color: $color;
  font-weight: $quote-font-weight;
}

@mixin typography($font-size, $font-family: $Noto-Sans) {
  font-size: $font-size;
  font-family: $font-family;
}